appdirs==1.4.8
arabic-reshaper==3.1.0
attrs==23.2.0
charset-normalizer==3.3.2
click==8.1.7
cycler==0.12.1
decorator==5.1.1
einops==0.7.0
entrypoints==0.4
fastjsonschema==2.19.1
filelock==3.13.1
fire==0.5.0
fonttools==4.44.0
gast==0.5.4
h5py==3.10.0
huggingface-hub==0.19.4
idna==3.6
imageio==2.33.1
imgaug==0.4.0
importlib-metadata==7.0.1
importlib-resources==6.1.1
joblib==1.3.2
jsonschema==4.20.0
jupyter_client==8.6.0
jupyter_core==5.0.0
kiwisolver==1.4.5
lmdb==1.4.1
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
natsort==8.4.0
nbclient==0.9.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
PyArabic==0.6.15
pycuda==2023.2.1
pyparsing==3.1.1
pyrsistent==0.20.0
python-dateutil==2.8.2
pytools==2023.2.3
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.11.8
requests==2.31.0
safetensors==0.4.1
scikit-image==0.22.0
scipy==1.11.4
shapely==2.0.2
six==1.16.0
termcolor==2.4.0
tifffile==2023.12.9
timm==0.9.12
torch==2.1.1+cu118
torchvision==0.16.1+cu118
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
typing_extensions==4.8.0
urllib3==2.1.0
validators==0.22.0
Wand==0.6.13
zipp==3.17.0
